* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.cuerpo {
  width: 81.3559322034wv;
  margin: 0 auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 576px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 990px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-xs-12 {
    grid-column: span 12;
  }

  .col-xs-11 {
    grid-column: span 11;
  }

  .col-xs-10 {
    grid-column: span 10;
  }

  .col-xs-9 {
    grid-column: span 9;
  }

  .col-xs-8 {
    grid-column: span 8;
  }

  .col-xs-7 {
    grid-column: span 7;
  }

  .col-xs-6 {
    grid-column: span 6;
  }

  .col-xs-5 {
    grid-column: span 5;
  }

  .col-xs-4 {
    grid-column: span 4;
  }

  .col-xs-3 {
    grid-column: span 3;
  }

  .col-xs-2 {
    grid-column: span 2;
  }

  .col-xs-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.menu {
  width: 81.3559322034vw;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu__logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
}

.menu__nav {
  display: inline;
  text-align: right;
}

.menu__nav ul li {
  list-style-type: none;
  display: inline-block;
}

.menu__nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 576px) {
  #onlyMdAndMore {
    display: none;
  }
}
.contenido {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.contenido__noticia {
  display: inline-block;
  padding: 6px;
  cursor: pointer;
}

.contenido__noticia--cuerpo img {
  width: 90%;
  justify-self: center;
}

.contenido__noticia--cuerpo p {
  padding: 5px 10px;
}

@media only screen and (min-width: 576px) {
  .contenido__noticia {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .contenido__noticia {
    width: 33%;
  }
}
@media only screen and (min-width: 992px) {
  .contenido__noticia {
    width: 33%;
  }
}
@media only screen and (max-width: 575px) {
  .listado-izquierdo {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .listado-izquierdo {
    margin: 0 auto;
    display: inline-block;
    padding: 10px;
    width: 192px;
  }

  .listado-izquierdo__cabecera {
    border-bottom: 1px solid gray;
  }

  .listado-izquierdo__tags {
    border-bottom: 1px solid gray;
    justify-content: center;
  }

  .listado-izquierdo__tags ul {
    padding: 0;
    list-style: none;
  }

  .listado-izquierdo__tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
    display: inline-block;
  }

  .listado-izquierdo__noticias-destacadas {
    margin-bottom: 50px;
  }

  .listado-izquierdo__noticias-destacadas img {
    width: 220px;
    height: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .listado-izquierdo {
    width: 192px;
  }
}
@media only screen and (min-width: 992px) {
  .listado-izquierdo {
    width: 248px;
  }
}
.footer {
  width: 81.3559322034vw;
  margin: 0 auto;
  text-align: center;
}

.suscripcion {
  background-color: #fad49a;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.suscripcion h2 {
  font-size: 1.5rem;
}

.suscripcion__group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
  background-color: coral;
  color: white;
}

.input-menu {
  border-radius: 30px;
}

.group input {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}

/*# sourceMappingURL=main.css.map */
