.contenido {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.contenido__noticia {
    padding: 6px;
    cursor: pointer;
}

.contenido__noticia--cuerpo img {
    width: 100%;
}

.contenido__noticia--cuerpo p {
    padding: 5px 10px;
}

@media only screen and (max-width: 575px){
    .contenido__noticia {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) {
    .contenido__noticia {
        width: 50%;
    }
}

@media only screen and (min-width: 768px){
    .contenido__noticia {
        width: 33%;
    }
}

@media only screen and (min-width: 992px){
    .contenido__noticia {
        width: 33%;
    }
}