@media only screen and (max-width: 575px){
    .listado-izquierdo{
        display: none;
    }
}


@media only screen and (min-width: 576px) {

    .listado-izquierdo {
        margin: 0 auto;
        display: inline-block;
        padding: 10px;
        width: 192px;
    }

    .listado-izquierdo__cabecera {
        border-bottom: 1px solid gray;
    }

    .listado-izquierdo__tags {
        border-bottom: 1px solid gray;
        justify-content: center;
    }

    .listado-izquierdo__tags ul {
        padding: 0;
        list-style: none;
    }

    .listado-izquierdo__tags ul li {
        padding: 2px 4px;
        background-color: steelblue;
        margin-right: 1px;
        color: white;
        display: inline-block;
    }

    .listado-izquierdo__noticias-destacadas {
        margin-bottom: 50px;
    }

    .listado-izquierdo__noticias-destacadas img {
        width: 220px;
        height: 200px;
    }

}

@media only screen and (min-width: 768px){
    .listado-izquierdo {
        width: 192px;
    }
}

@media only screen and (min-width: 992px){
    .listado-izquierdo {
        width: 248px;
    }
}

